
.user-list{
    color:darkblue;
    font-size: 16px;
    width: 100%;
}
.ion-item-css{
    background-color: #ffffff;
    border: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    margin: 5px;
    width: 85%;
    border: 2px solid  #ffffff79;
    transition: all 0.3s ease-in-out;
    height: 55px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;
    --background:#ffffff !important;
}

.Subtitle-cs-desc{
    font-family: Century Gothic;
    font-size: 7px;
    line-height: 12px;
    margin: 0;
    padding: 7px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(8, 8, 8);
    text-align: justify;
}

.title-css {
    color: #080808;
    padding: 0px 0px 0px 0px;
    line-height: 44px;
    font-weight: bold;
}

.friend {
    margin-bottom: 10px;
}

.friend:hover {
    background: #f1f4f6;
    cursor: pointer;
}

.friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    border: 2px solid #fff;
}

.friend p {
    padding: 15px 0 0 0;
    float: left;
    width: 220px;
}

.friend p strong {
    font-weight: 600;
    font-size: 15px;
    color: #597a96;
}

.friend p span {
    font-size: 13px;
    font-weight: 400;
    color: #aab8c2;
}

.titlefriends {
    text-align: center;
    color: #597a96;
}

.container {
    padding: 0px;
}

.author-block {
    color: #717a84;
}

.author-image {
    border-radius: 50%;
}

*{
    font-family: 'Proxima Nova' !important;
}

.icon-search {
    color: white;
    margin: 5px 15px 0px 0px;
}

.label-user-chat {
    text-transform: capitalize;
    font-size: 16px;
    width: 100%;
}

.label-date {
    width: 50%;
    text-align-last: end;
    font-size: 11px;
    color: #6b6b6b;
}

.label-message {
    font-size: 13px;
    color: #6b6b6b;
}

.mat-elevation-z4 {
    box-shadow: none !important;
}

.label-results {
    padding: 0px 25px;
    font-weight: bold;
}