<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="color: white">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="message-wrap">
  <ion-header>
    <div *ngIf="data">
      <ion-item *ngIf="transmiterID !== data.id">
        <ion-icon name="person-circle-outline" style="color: black;"></ion-icon>
        <ion-label style="margin-left: 5px;;text-transform: capitalize;font-size: 20px;">{{data.name}}&nbsp;{{data.lastname}}</ion-label>
      </ion-item>
    </div>
  </ion-header>

  <div class="message">
    <div *ngFor="let msg of menjs">
      <div class="message other-message left" *ngIf="transmiterID !== msg.user_id">
        <span style="color: white;font-size: 16px;">{{msg.message}}</span>
        <div class="ion-text-left" style="color: #ffffff;font-size: 11px;margin-right: 15px;">{{msg.created_at | date:'short'}}</div>
      </div>

      <div class="message my-message right" *ngIf="transmiterID === msg.user_id">
        <div class="ion-text-right" style="color: white;font-size: 16px;">{{msg.message}}</div>
        <div class="time ion-text-right" style="color: white;font-size: 11px;">{{msg.created_at | date:'short'}}</div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="10">
        <textarea autosize maxRow="4" placeholder="Escribe un mensaje" [(ngModel)]="newMsg"
          class="msg-input">
        </textarea>
      </ion-col>
      <ion-col size="2" class="send">
        <button expand="block" [disabled]="!newMsg" class="msg-btn" (click)="enviarMsg()">
          <ion-icon name="send-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>