<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content style="padding: 9px 5px;text-align-last: center;">
    <ion-badge class="title-css">¿Qué es el diagnóstico?</ion-badge>
  </ion-card-content>

  <ion-card-content style="padding: 0px 15px;">    
    <video #videoDiagnosis autoplay width="100%" height="100%" controls src="../../../../assets/diag.mp4" style="border-radius: 10px;"></video>
  </ion-card-content>

  <ion-card-content class="contenido">
    Como se mencionaba en el video, el diagnóstico esta dividido de acuerdo a ciertos aspectos:
    <ion-list >
      <div *ngFor="let curso of cursos; ; index as i;">
      <ion-item >
        <ion-avatar slot="start">
          <img src="../../../../assets/cheque.png">
        </ion-avatar>
        <ion-label>
          <h3 style="margin: 0;">{{curso.name.split(':')[0]}}</h3>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <ion-button size="small" class="footer-dis-bot1" (click)="alertAvisoGif()">
        <ion-icon name="information-outline"></ion-icon>
        Instrucciones
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="small" class="footer-dis-bot2" (click)="diagnosticoRedirect()">
        <ion-icon name="caret-forward-outline"></ion-icon>
        Continuar
     </ion-button>
    </ion-col>
  </ion-row>
</ion-content>






