<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="/users/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-badge class="bagde-title" *ngIf="title">Diagnóstico de categorización</ion-badge>
    <ion-badge class="bagde-title" *ngIf="pagina === 1 && !title" style="color: #2196f3;background: transparent;">PRUEBA DE MENTALIDAD</ion-badge>
    <ion-badge class="bagde-title" *ngIf="pagina === 2 && !title" style="color: #ff9800;background: transparent;">PRUEBA NUTRICIONAL</ion-badge>
    <ion-badge class="bagde-title" *ngIf="pagina === 3 && !title" style="color: #4caf50;background: transparent;">PRUEBA DE BIENESTAR</ion-badge>
    <ion-badge class="bagde-title" *ngIf="pagina === 4 && !title" style="color: #f44336;background: transparent;">PRUEBA ATLÉTICA</ion-badge>

  </div>
  <ion-slides #slider (ionSlideWillChange)="verifImg()">
    <ion-slide [hidden]="currentPage === 5">
      <ion-card style="margin: 0px 10px;">
        <ion-card-content style="color: black;text-align: justify;">
          A continuación, encontrarás cuatro bloques de preguntas divididas en categorías con las cuales vamos a programar tu plan de entrenamiento basado en tus necesidades individuales del momento.
          <div class="label-progress" *ngIf="pagina === 1">  
            <ion-label> Aún no has resuelto ningún bloque. ¡Animo!</ion-label>
          </div>

          <div class="label-progress-1" *ngIf="pagina === 2">
            <ion-label> Has completado el primer bloque, cada vez estas mas cerca de completar tu programa de entrenamiento. ¡Animo!</ion-label>
          </div>

          <div class="label-progress-2" *ngIf="pagina === 3">
            <ion-label>Has completado el segundo bloque del diagnostico estas a la mitad del camino. ¡Animo!</ion-label>
          </div>

          <div class="label-progress-3" *ngIf="pagina === 4">
            <ion-label>Has completado el tercer bloque cada vez estas mas cerca de completar tu diagnostico, falta muy poco. ¡Animo!</ion-label>
          </div>

        </ion-card-content>

        <ion-card-content style="padding: 0px 5px 20px;">
          <div class="card card-3">
          </div>
          <div class="label-swipe">
            <ion-label>Recuerda deslizar la pantalla a la izquierda para dar inicio al diagnóstico.</ion-label>
          </div>
        </ion-card-content>

        <ion-card-content style="padding: 0;">
          <div>
            <canvas #doughnutChart width="250" height="180"></canvas>
          </div>
          <div #legendChart class="chart-legend row justify-content-center m-t-15" style="text-align: -webkit-center;margin-top: 10px;"></div>
        </ion-card-content>

        
      </ion-card>

    </ion-slide>

    <ion-slide  lines="none" [hidden]="etapa === true || arrayFEnv.length  === totallenght" *ngFor="let dt of cantidad; let i of index;">
      <ion-grid class="questions" [ngClass]="{ 'question-1': pagina === 1, 'question-2': pagina === 2, 'question-3': pagina === 3, 'question-4': pagina === 4 }">
        <ion-row>
          <ion-col size="12">
            <label class="circulo" [ngClass]="{ 'circulo-1': pagina === 1, 'circulo-2': pagina === 2, 'circulo-3': pagina === 3, 'circulo-4': pagina === 4 }" >
              {{preguntat}}/{{preguntot}}
            </label>
            </ion-col>
          <ion-col size="12">
            <ion-card class="question-st">
              <ion-card-content class="label-content">
                {{dt.question}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">

            <div *ngIf="dt.answers.length === 0">
              <ion-range class="range" min="1" max="5" step="1" [(ngModel)]="dt.calificacionVal" (ionChange)="calificacion($event, dt.id, i)" snaps="true" pin="true" ticks="true" color="tertiary">
                <ion-icon slot="start" color="danger" name="sad" class="icon-danger"></ion-icon>
                <ion-icon slot="end" color="success" name="happy" class="icon-success"></ion-icon>
              </ion-range>
  
              <div *ngIf="dt.calificacionVal as value; else bloque">
                <img src="../../../assets/estados/{{value}}.png">
              </div>
  
              <ng-template #bloque>
                <img src="../../../assets/estados/1.png">
              </ng-template>
            </div>


            <div *ngIf="dt.answers.length > 1" style="overflow: auto;">
              <ion-list>
                <ion-radio-group [(ngModel)]="dt.calificacionVal" (ionChange)="calificacion($event, dt.id, i)">
                  <ion-item *ngFor="let it of dt.answers">
                    <ion-label style="white-space: break-spaces;font-size: 13px;">{{ it.answer }}</ion-label>
                    <ion-radio slot="end" value="{{it.id}}"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
      
            <ion-row [hidden]="finalDta.length !== preguntot">
              <ion-col size="6">
                <ion-button size="small" [hidden]="pagina == 4"  class="footer-dis-bot1" (click)="guardar()">
                  <ion-icon name="enter-outline"></ion-icon>
                  Guardar y salir
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button size="small" class="footer-dis-bot2" [hidden]="pagina == 4"  (click)="Continuar()">
                  Continuar
                  <ion-icon name="caret-forward-circle-outline"></ion-icon>
               </ion-button>
              </ion-col>
            </ion-row>

            <ion-card-content style="padding: 0px 5px 20px;" [hidden]="finalDta.length === preguntot">
              <div class="card card-3">
              </div>
              <div class="label-swipe">
                <ion-label>Recuerda deslizar la pantalla a la izquierda para cambiar de pregunta y avanzar en el diagnóstico.</ion-label>
              </div>
            </ion-card-content>

          </ion-col>
        </ion-row>
        <ion-row [hidden]="finalDta.length !== preguntot" style="place-content: center;">
            <ion-button [hidden]="pagina != 4" class="footer-dis-bot2" (click)="Continuar()">Enviar</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-icon class="icono-lateral" name="caret-back-outline"></ion-icon>
  </ion-fab>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-icon class="icono-lateral" name="caret-forward-outline"></ion-icon>
  </ion-fab>

</ion-content>