*{
    font-family: 'Proxima Nova' !important;
  }
.range {
    --knob-size: 40px;
    --ion-color-base: #002a68 !important;
}
.circulo {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background: #002a68;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    color: white;
}

.footer-dis-bot1 {
    display: list-item;
    --background: #607d8b;
    font-size: 12px;
    margin: 15px auto;
    height: 35px;
    white-space: initial;
}

.footer-dis-bot2{
    --background: #002a68;
    display: list-item;
    font-size: 12px;
    white-space: initial;
    margin: 15px auto;
    height: 35px;
}

.question-st {
    padding: 3px 10px;
    border: 1px solid #b9b9b9;
    border-width: 1px !important;
    border-radius: 7px;
    box-shadow: none;
}

.questions {
    margin: 0px 40px;
    background: white;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 10px 25px;
}

.icono-lateral{
    color :#002a68;
    font-size: 35px;
}
.title-css {
    color: #ffffff;
    margin: 15px 0px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: normal;
    background-color: #002a68;
    padding: 10px;
}

.subtitle-css{
    color: rgb(8, 8, 8);
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    text-align: justify;
    white-space: normal;
    background-color:whitesmoke
}

ion-slides {
    height: auto;
    overflow: auto;
    background-color:whitesmoke
}

.button-css{
    -webkit-box-shadow : 0  10px  30px  0 rgba(95,186,233,0.4);
    box-shadow : 0  10px  30px  0 rgba(95,186,233,0.4);
    font-size: 9px;
    letter-spacing: 1px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 5%;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    width: 85%;
    height: 35px;
    color: #ffffff;
    margin-bottom: 30px;
    --background: #80b9f6 !important;
}
.alert-head.sc-ion-alert-ios{
    --background: #80b9f6 !important;
}
.my-custom-class {
    --background: whitesmoke;
}

.my-custom-class2 {
    --background: whitesmoke;
    --backdrop-opacity: 0.33;
    text-align: center;
}

.title {
    text-align: center;
    padding: 10px 0px;
    background-color: #f4f4f4;
    border: 1px solid transparent;
}

.bagde-title {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #002a68;
    color: #ffffff;
    text-transform: uppercase;
}

.icon-danger {
    background: #f44336;
    --ion-color-base: white !important;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.icon-success {
    background: #4caf50;
    --ion-color-base: white !important;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}

.label-content {
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}

.select-answers {
    background-color: #ffffff;
    width: 80%;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.label-progress {
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #002a68;
    border-radius: 5px;
    margin: 18px;
    text-align: center;
    padding: 8px;
}

.label-progress-1 {
    font-weight: 500;
    font-size: 13px;
    color: white;
    background-color: #2196f3;
    border-radius: 5px;
    margin: 15px;
    padding: 5px 25px;
    letter-spacing: 1px;
}

.label-progress-2 {
    font-weight: 500;
    font-size: 13px;
    color: black;
    background-color: #ff9800;
    border-radius: 5px;
    margin: 15px;
    padding: 5px 25px;
    letter-spacing: 1px;
}

.label-progress-3 {
    font-weight: 500;
    font-size: 13px;
    color: white;
    background-color: #4caf50;
    border-radius: 5px;
    margin: 15px;
    padding: 5px 25px;
    letter-spacing: 1px;
}

.question-1 {
    border: 2px solid #2196f3
}

.question-2 {
    border: 2px solid #ff9800
}

.question-3 {
    border: 2px solid #4caf50
}

.question-4 {
    border: 2px solid #f44336
}

.circulo-1 {
    background: #2196f3;
}

.circulo-2 {
    background: #ff9800;
}

.circulo-3 {
    background: #4caf50;
}

.circulo-4 {
    background: #f44336;
}

.card-3 {
    background-image: url(../../../../assets/swipe.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 113px;
    box-shadow: none !important;
    border-radius: 10px;
    height: 130px;
 }

 .label-swipe {
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
    background: #ff9800;
    border-radius: 10px;
    padding: 5px 10px;
 }