<ion-header #header>
  <ion-toolbar #toolbar class="ion-toolbar-ccs">
    <div>
      <ion-toolbar>
        <ion-row class="logo">
          <ion-col size="4">
            <div class="icon-header">
              <img src="/assets/finallogo.png" width="120" height="70">
            </div>
          </ion-col>
          <ion-col size="8" style="align-self: flex-end">
            <div class="info-header">
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;margin-right: 5px;">{{ message_header }}</ion-label>
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;text-transform: capitalize;">{{usertk.name}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [appHideHeader]="header" [scrollEvents]="true" slot="start" id="ion-content-opcional">
  <div class="divBack">
    <div *ngIf="usertk !== null">
      <ion-grid class="profile-intro">
        <ion-row>
          <ion-col size="4" style="padding-bottom: 0px;">
            <img class="profile-photo" src="../../../assets/avatar/{{usertk.avatar}}.png" (click)="CreatePopover()">
          </ion-col>
          <ion-col size="8" style="align-self: center;">
            <div>
              <div class="info-square">
                <p class="user-name">
                  <strong>
                    <ion-label (click)="abrirDialogo()">{{usertk.name}} {{usertk.lastname}}</ion-label>
                  </strong>
                </p>
                <ion-label *ngIf="profileUser" (click)="categoryRedirect()" style="font-size: 12px;
                letter-spacing: 1px;
                color: #ffffff;
                font-weight: bold;
                background: #002a68;
                padding: 7px;
                border-radius: 5px;
                white-space: break-spaces;">{{ profileUser }}</ion-label>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <mat-tab-group mat-stretch-tabs class="expand-css mat-elevation-z4" (selectedTabChange)="eventchangeTab($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon name="grid" class="larger"></ion-icon>
          </ng-template>
          <mat-tab-group mat-stretch-tabs class="expand-css2 mat-elevation-z4">
            <mat-tab>
              <ng-template mat-tab-label>
                <ion-card-title class="title-css2" style="text-align: center;">Mi Información</ion-card-title>
              </ng-template>
              <!--form-edit-->
              <div *ngIf="usertk">
                <form [formGroup]="editarForm" style="padding: 0 25px;">

                  <div style="width: 100%;margin-top: 15px;">
                    <ion-badge style="width: 100%;color: #ffffff;background-color: #002a68;padding: 10px;font-size: 13px;text-transform: uppercase;">Datos Generales</ion-badge>
                  </div>

                  <!--Nombre-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="person" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Nombre</ion-label>
                    <ion-input name="nombre" clearInput type="text" placeholder="Nombre" formControlName="name" style="text-align-last: left;"></ion-input>
                  </ion-item>
                  <ion-item class='form-text-error' *ngIf="!editarForm.controls.name.valid && (editarForm.controls.name.touched || editarForm.controls.name.dirty)">
                    <ion-label class="label-error">El nombre debe tener mínimo 5 caracteres</ion-label>
                  </ion-item>

                  <!--Apellido-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="person" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Apellido</ion-label>
                    <ion-input name="apellido" clearInput type="text" placeholder="Apellido" formControlName="lastname" style="text-align-last: left;"></ion-input>
                  </ion-item>
                  <ion-item class='form-text-error' *ngIf="!editarForm.controls.lastname.valid && (editarForm.controls.lastname.touched || editarForm.controls.lastname.dirty)">
                    <ion-label class="label-error">El apellido debe tener mínimo 5 caracteres</ion-label>
                  </ion-item>

                  <!--Teléfono-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="call" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Teléfono</ion-label>
                    <ion-input name="phone" clearInput type="text" placeholder="Teléfono" formControlName="phone" style="text-align-last: left;"></ion-input>
                  </ion-item>
                  <ion-item class='form-text-error' *ngIf="!editarForm.controls.phone.valid && (editarForm.controls.phone.touched || editarForm.controls.phone.dirty)">
                    <ion-label class="Subtitle-css" class="label-error">El teléfono supera el mínimo de caracteres permitido</ion-label>
                  </ion-item>

                  <!--Fecha de nacimiento-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="calendar" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Fecha de nacimiento</ion-label>
                    <ion-datetime #myPicker clearInput placeholder="Fecha de Nacimiento" displayFormat="YYYY/MM/DD" min="1980" max="{{ year }}" (ionChange)="cambioFecha(myPicker.value)" formControlName="birthday" cancelText="Cancelar" doneText="Hecho" style="width: 100%;text-align-last: left;"></ion-datetime>
                  </ion-item>

                  <div *ngIf="edad<18">
                    <ion-item  class="ion-item-css" *ngFor="let check of ischeckNino">
                      <ion-checkbox color="dark" class="cb_color" checked slot="start" style="margin: 0px;" disabled></ion-checkbox>
                      <ion-button fill="clear" (click)="terminosMostrarNinos()">
                        <ion-label style="color: black;border-bottom: 1px solid #025975;white-space: break-spaces;">Leer términos y condiciones para menores de edad</ion-label>
                      </ion-button>
                    </ion-item>
                  </div>

                  <!--Descripción-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="chatbubble-ellipses" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Descripción</ion-label>
                    <ion-textarea formControlName="description" clearInput placeholder="Descripción" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>


                  <!--Situación Sentimental-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="heart-circle" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Situación Sentimental</ion-label>
                    <ion-select style="text-align-last: left;" formControlName="status" placeholder="Situación Sentimental">
                      <ion-select-option value="{{ it.situacion }}" *ngFor="let it of items">
                        {{it.situacion}}
                      </ion-select-option>
                    </ion-select>                  
                  </ion-item>

                  <!--¿Dónde vives?-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="location" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">¿Dónde vives?</ion-label>
                    <ion-input clearInput name="city" type="text" placeholder="¿Dónde vives?" formControlName="city" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Sobre Mi-->
                  <div style="width: 100%;margin-top: 15px;">
                    <ion-badge style="width: 100%;color: #ffffff;background-color: #002a68;padding: 10px;font-size: 13px;text-transform: uppercase;">Sobre Mi</ion-badge>
                  </div>

                  <!--Sexo-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="transgender-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Sexo</ion-label>
                    <ion-select style="text-align-last: left;" formControlName="sex" placeholder="Sexo">
                      <ion-select-option value="{{ sex.sex }}" *ngFor="let sex of sexs">
                        {{ sex.sex }}
                      </ion-select-option>
                    </ion-select>                  
                  </ion-item>

                   <!--Lugar de Nacimiento-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="location" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Lugar de nacimiento</ion-label>
                    <ion-input clearInput name="placeOfBirth" type="text" placeholder="Lugar de Nacimiento" formControlName="placeOfBirth" style="text-align-last: left;"></ion-input>
                  </ion-item>


                  <!--Estatura (Cms)-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Estatura (Cms)</ion-label>
                    <ion-input name="height" clearInput type="text" placeholder="Estatura (Cms)" formControlName="height" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Peso (Kg)-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Peso (Kg)</ion-label>
                    <ion-input name="weight" clearInput type="text" placeholder="Peso (Kg)" formControlName="weight" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Pie dominante-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Pie dominante</ion-label>
                    <ion-select style="text-align-last: left;" placeholder="Pie dominante" formControlName="dominantFoot">
                      <ion-select-option value="{{ orientation.orientation }}" *ngFor="let orientation of orientationsFeet">
                        {{ orientation.orientation }}
                      </ion-select-option>
                    </ion-select>                  
                  </ion-item>

                  <!--Mano dominante-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="hand-left-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Mano dominante</ion-label>
                    <ion-select style="text-align-last: left;" placeholder="Mano dominante" formControlName="dominantHand">
                      <ion-select-option value="{{ orientation.orientation }}" *ngFor="let orientation of orientationsHands">
                        {{ orientation.orientation }}
                      </ion-select-option>
                    </ion-select>                  
                  </ion-item>

                  <!--Datos Academicos-->
                  <div style="width: 100%;margin-top: 15px;">
                    <ion-badge style="width: 100%;color: #ffffff;background-color: #002a68;padding: 10px;font-size: 13px;text-transform: uppercase;">Datos Académicos</ion-badge>
                  </div>

                  <!--¿Dónde estudiaste?-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="school" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Nombre instituto</ion-label>
                    <ion-input clearInput name="institution" type="text" placeholder="Nombre instituto" formControlName="institution" style="text-align-last: left;"></ion-input>
                  </ion-item>
                  <ion-item class='form-text-error' *ngIf="!editarForm.controls.institution.valid && (editarForm.controls.institution.touched || editarForm.controls.institution.dirty)">
                    <ion-label class="label-error">La institución es incorrecta.</ion-label>
                  </ion-item>

                  <!--Año graduacion-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="calendar-outline"  style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Año graduación</ion-label>
                    <ion-input clearInput name="graduationYear" type="text" placeholder="Año graduación" formControlName="graduationYear" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Promedio bachillerato-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="star-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Promedio bachillerato</ion-label>
                    <ion-input clearInput name="highSchoolAverage" type="text" placeholder="Promedio bachillerato" formControlName="highSchoolAverage" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--GPA-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">GPA</ion-label>
                    <ion-input clearInput name="gpa" type="text" placeholder="GPA" formControlName="gpa" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--SAT-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">SAT</ion-label>
                    <ion-input clearInput name="sat" type="text" placeholder="SAT" formControlName="sat" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--TOEFL-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">TOEFL / IELTS</ion-label>
                    <ion-input clearInput name="toefl" type="text" placeholder="TOEFL / IELTS" formControlName="toefl" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Datos Atléticos-->
                  <div style="width: 100%;margin-top: 15px;">
                    <ion-badge style="width: 100%;color: #ffffff;background-color: #002a68;padding: 10px;font-size: 13px;text-transform: uppercase;">Datos Atléticos</ion-badge>
                  </div>

                  <!--Deporte Principal-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="american-football-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Deporte Principal</ion-label>
                    <ion-input clearInput name="mainSport" type="text" placeholder="Deporte Principal" formControlName="mainSport" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Posición de juego-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="body-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Posición de juego</ion-label>
                    <ion-input clearInput name="playingPosition" type="text" placeholder="Posición de juego" formControlName="playingPosition" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Eventos-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="earth-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Eventos</ion-label>
                    <ion-input clearInput name="events" type="text" placeholder="Eventos" formControlName="events" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Tiempos-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="stopwatch-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Tiempos</ion-label>
                    <ion-input clearInput name="time" type="text" placeholder="Tiempos" formControlName="time" style="text-align-last: left;"></ion-input>
                  </ion-item>

                  <!--Records-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="medal-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Records</ion-label>
                    <ion-textarea formControlName="records" clearInput placeholder="Records" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--Recorrido-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="map-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Recorrido</ion-label>
                    <ion-textarea formControlName="route" clearInput placeholder="Recorrido" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--Rankings-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="podium-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Rankings</ion-label>
                    <ion-textarea formControlName="rankings" clearInput placeholder="Rankings" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--Reconocimientos-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="trophy-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Reconocimientos</ion-label>
                    <ion-textarea formControlName="recognitions" clearInput placeholder="Reconocimientos" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--Prensa-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="newspaper-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">Prensa</ion-label>
                    <ion-textarea formControlName="press" clearInput placeholder="Prensa" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--Extras-->
                  <div style="width: 100%;margin-top: 15px;">
                    <ion-badge style="width: 100%;color: #ffffff;background-color: #002a68;padding: 10px;font-size: 13px;text-transform: uppercase;">Extras</ion-badge>
                  </div>

                  <!--¿Qué te hace diferente?-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">¿Qué te hace diferente?</ion-label>
                    <ion-textarea formControlName="differences" clearInput placeholder="¿Qué te hace diferente?" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--¿Por qué quieres competir?-->
                   <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="information-circle-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">¿Por qué quieres competir?</ion-label>
                    <ion-textarea formControlName="competencies" clearInput placeholder="¿Por qué quieres competir?" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>

                  <!--¿Cuáles son tus metas deportivas?-->
                  <ion-item style="align-items: center;">
                    <ion-thumbnail slot="start" style="width: 10px;height: auto;">
                      <ion-icon name="flag-outline" style="color:  #002a68"></ion-icon>
                    </ion-thumbnail>
                    <ion-label class="label-form" position="floating">¿Cuáles son tus metas deportivas?</ion-label>
                    <ion-textarea formControlName="goals" clearInput placeholder="¿Cuáles son tus metas deportivas?" [disabled]="false" rows="5" style="text-align-last: left;"></ion-textarea>
                  </ion-item>
            
                  <!--Guardar-->
                  <div style="margin-top: 15px;text-align: -webkit-center;"> 
                    <ion-button type="submit" (click)="editar()" [disabled]="!editarForm.valid" expand="block" style="margin: 0;width: 50%;--background: #002a68;">Editar</ion-button>
                  </div>
                </form>
              </div>
            </mat-tab>
            <mat-tab style="height:500px;">
              <ng-template mat-tab-label>
                <ion-card-title class="title-css2" style="text-align: center;">Mi Competencia</ion-card-title>
              </ng-template>

              <div style="padding: 10px 25px;">

                <ion-card class="competence-sport-none" (click)="createCompetition(1)" *ngIf="!imageSports">
                  <ion-card-content style="height: 100%;top: 35%;">
                    <div>
                      <ion-label class="label-competence">DEPORTIVO</ion-label>
                    </div>
                  </ion-card-content>
                </ion-card>

                <ion-card *ngIf="imageSports" (click)="createCompetition(1)" style="height: 200px;background-repeat: no-repeat;
                background-size: 100% 100%;" [ngStyle]="{'background-image': 'url(' + basePath + imageSports.url + ')' }">
                  <ion-card-content style="height: 100%;top: 35%;">
                    <div>
                      <ion-label class="label-competence">DEPORTIVO</ion-label>
                    </div>
                  </ion-card-content>
                </ion-card>
  
                <ion-card (click)="createCompetition(2)" class="competence-academic" *ngIf="!imageAcademic"> 
                  <ion-card-content style="height: 100%;top: 35%;">
                    <div>
                      <ion-label class="label-competence">ACADÉMICO</ion-label>
                    </div>
                  </ion-card-content>
                </ion-card>

                <ion-card *ngIf="imageAcademic" (click)="createCompetition(2)" style="height: 200px;background-repeat: no-repeat;
                background-size: 100% 100%;" [ngStyle]="{'background-image': 'url(' + basePath + imageAcademic.url + ')' }" > 
                  <ion-card-content style="height: 100%;top: 35%;">
                    <div>
                      <ion-label class="label-competence">ACADÉMICO</ion-label>
                    </div>
                  </ion-card-content>
                </ion-card>

              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon name="bookmark" class="larger"></ion-icon>
          </ng-template>

          <div>
            <div *ngIf="usertk.email !== null">

              <ion-card-title class="title-css" style="font-size: 14px; text-align: center;">MI DESARROLLO</ion-card-title>

              <mat-accordion>
                <mat-expansion-panel class="expacionCss">
                  <mat-expansion-panel-header class="expacionCss">
                    <mat-panel-title>
                      <label class="Subtitle-css-expansive">LOGROS Y RECONOCIMIENTOS</label>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <ion-row style="border-bottom: groove;" *ngIf="trofeosInsig.length > 0">
                    <ion-col size="3">
                      <ion-label class="title-cssCursos">Curso</ion-label>
                    </ion-col>
                    <ion-col size="3">
                      <ion-label class="title-cssCursos">Trofeo</ion-label>
                    </ion-col>
                    <ion-col size="3">
                      <ion-label class="title-cssCursos">Insignia</ion-label>
                    </ion-col>
                    <ion-col size="3">
                      <ion-label class="title-cssCursos">Nota</ion-label>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="trofeosInsig.length > 0" style="margin-top: 5px;">
                    <ion-row style="border-bottom: groove;" *ngFor="let tyi of trofeosInsig">
                      <ion-col size="3" class="col-trofeo">
                        <ion-label class="label-trofeo">{{ tyi.name }}</ion-label>
                      </ion-col>
                      <ion-col size="3" class="col-trofeo">
                        <ion-label class="label-trofeo">{{ tyi.nombre }}</ion-label>
                      </ion-col>
                      <ion-col size="3">
                        <img style="width: 40px;" src="{{basePath}}{{tyi.imagen}}">
                      </ion-col>
                      <ion-col size="3" class="col-trofeo">
                        <ion-label class="label-trofeo">{{ tyi.nota }}</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>

                  <ion-row *ngIf="trofeosInsig.length === 0" style="justify-content: center;">
                    <ion-badge color="warning">No cuentas con trofeos e insignias</ion-badge>
                  </ion-row>

                </mat-expansion-panel>
              </mat-accordion>

              <ion-card-title class="title-css" style="font-size: 14px; text-align: center;">MIS CURSOS</ion-card-title>

              <mat-tab-group mat-stretch-tabs class="expand-css2 mat-elevation-z4">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <ion-card-title class="title-css2" style="text-align: center;">CURSANDO</ion-card-title>
                  </ng-template>
                  <ion-list *ngIf="coursesProgress.length > 0">
                    <div *ngFor="let curso of coursesProgress">
                      <div *ngIf="curso.pivot.progress != 1">
                        <ion-item class="ion-item-css">
                          <ion-avatar slot="start">
                            <img src="{{basePath}}{{curso.photo}}" (click)="verCurso()">
                          </ion-avatar>
                          <ion-label class="Subtitle-css" (click)="verCurso()" style="font-size: 12px;">{{curso.name}}</ion-label>
                          <div>
                            <ion-list-header style="padding: 0;">
                              <h5 style="margin: 0;">Progreso: <span>{{curso.pivot.progress*100}}%</span></h5>
                            </ion-list-header>
                            <ion-progress-bar [value]="curso.pivot.progress" color="primary"></ion-progress-bar>
                          </div>
                        </ion-item>
                      </div>
                    </div>
                  </ion-list>
                  <ion-row *ngIf="coursesProgress.length === 0" style="padding: 10px;place-content: center;">
                    <ion-badge color="warning">No tienes cursos actualmente</ion-badge>
                  </ion-row>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <ion-card-title class="title-css2" style="text-align: center;">COMPLETADO</ion-card-title>
                  </ng-template>
                  <ion-list *ngIf="coursesCompleted.length > 0">
                    <div *ngFor="let curso of coursesCompleted">
                      <div>
                        <ion-item class="ion-item-css">
                          <ion-avatar slot="start">
                            <img src="{{basePath}}{{curso.photo}}" (click)="verCurso()">
                          </ion-avatar>
                          <ion-label class="Subtitle-css" (click)="verCurso()" style="font-size: 12px;">{{ curso.name }}</ion-label>
                          <div>
                            <ion-list-header style="padding: 0;">
                              <h5 style="margin: 0;">Progreso: <span>{{curso.progreso*100}}%</span></h5>
                            </ion-list-header>
                            <ion-progress-bar [value]="curso.progreso" color="primary"></ion-progress-bar>
                          </div>
                        </ion-item>
                      </div>
                    </div>
                  </ion-list>
                  <ion-row *ngIf="coursesCompleted.length === 0" style="padding: 10px;place-content: center;">
                    <ion-badge color="warning">No tienes cursos finalizados</ion-badge>
                  </ion-row>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <ion-icon name="settings" class="larger"></ion-icon>
          </ng-template>
          <ion-grid style="padding: 0;">
            <ion-list no-lines>
              <ion-item lines="none">
                <ion-label>
                  <ion-button class="button-css-options" fill="clear" expand="block"
                    (click)="activityRedirect()">
                    <ion-icon name="chatbox-outline"></ion-icon>&nbsp;
                    Mi actividad
                  </ion-button>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-button class="button-css-options" fill="clear" expand="block"
                    (click)="miCalendario()">
                    <ion-icon name="calendar-outline"></ion-icon>&nbsp;
                    Calendario
                  </ion-button>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-button class="button-css-options" fill="clear" expand="block" (click)="miTimeLine()">
                    <ion-icon name="hourglass-outline"></ion-icon>&nbsp;
                    Linea de Tiempo
                  </ion-button>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-button [disabled]="usertk.surveyed === 0" class="button-css-options" fill="clear" expand="block"
                    (click)="misEstadisticas()">
                    <ion-icon name="bar-chart-outline"></ion-icon>&nbsp;
                    Metricas
                  </ion-button>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-button class="button-css-options" fill="clear" expand="block" (click)="MisObjetivos(usertk.id)">
                    <ion-icon name="trophy-outline"></ion-icon>&nbsp;
                    Mis Objetivos
                  </ion-button>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-button [disabled]="usertk.surveyed === 1" class="button-css-options" fill="clear" expand="block"
                    (click)="diagnosticoRedirect(usertk.profile.id,  usertk.id)">
                    <ion-icon name="fitness-outline"></ion-icon>&nbsp;
                    Diagnostico
                  </ion-button>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  <ion-button class="button-css-options" fill="clear" expand="block" (click)="categoryRedirect()">
                    <ion-icon name="rocket-outline"></ion-icon>&nbsp;
                    Categoría
                  </ion-button>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-grid>

          <ion-row style="padding: 10px;place-content: center;">
            <ion-button class="button-css-options" shape="round" (click)="logout()" style="width: 60%;">
              Cerrar Sesión
              <ion-icon name="key" style="margin-left: 5px;"></ion-icon>
            </ion-button>
          </ion-row>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div *ngIf="usertk !== null">
    <ion-card *ngIf="usertk.email == 'usuarioN@hotmail.com'">
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://happytravel.viajes/wp-content/uploads/2020/04/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"
              (click)="abrirDialogo()">
          </ion-avatar>
          <ion-label>{{usertk.name}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <br>



</ion-content>