<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button (click)="anterior()"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item button *ngFor="let track of aud" (click)="start(track)">
      <div style="width: 100%;">
        <ion-badge class="title" [color]="track === activetrack ?  'info': 'medium'">{{ audioname }}</ion-badge>
      </div>
    </ion-item>
  </ion-list>


  <div class="coverBack">
    <div class="container">

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="rain">
        <div class="drop"></div>
        <div class="waves">
          <div></div>
          <div></div>
        </div>
        <div class="splash"></div>
        <div class="particles">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

    </div>


  </div>


</ion-content>


<ion-footer *ngIf="activetrack">
  <ion-toolbar class="toolbarColor">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-label color="light">{{audioname}}</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="dark" (touched)="seek()" (mouseup)="seek()">
        </ion-range>
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngFor="let track of aud">

        <ion-button fill=clear (click)="prev()" color="dark">
          <ion-icon slot="icon-only" style="color: black;" name="play-back"></ion-icon>
        </ion-button>

        <ion-button fill=clear (click)="toggleplayer(true, track)" *ngIf="!isPlaying" color="dark">
          <ion-icon slot="icon-only" style="color: black;" name="play"></ion-icon>
        </ion-button>

        <ion-button fill=clear (click)="toggleplayer(true, track)" *ngIf="isPlaying" color="dark">
          <ion-icon slot="icon-only" style="color: black;" name="pause"></ion-icon>
        </ion-button>

        <ion-button fill=clear (click)="next()" color="dark">
          <ion-icon slot="icon-only" style="color: black;" name="play-forward"></ion-icon>
        </ion-button>
      </ion-col>

      <div *ngFor="let cur of cursos; let i index">
        <div *ngFor="let lens of cur.lessons; let j = index">
          <div *ngIf="j === indexLessons">
            <div *ngFor="let recursos of lens.resources">
              <div *ngIf="recursos.order === 2">
                <div *ngIf="recursos.video">
                  <ion-button class="footer-dis-bot2" (click)="startVideo(lens.name, recursos.video, recursos.order, lens.resources?.length)">
                    Continuar
                  <ion-icon name="caret-forward-outline"></ion-icon></ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>          
    </ion-row>
  </ion-toolbar>
</ion-footer>