
<ion-content> 
  
  <svg viewBox="0 0 550 327" xmlns="http://www.w3.org/2000/svg">
    <polygon points="0 327 200 173.8 400 327" />
    <polygon points="91 327 291 280.3 491 327" />
    <polygon points="-101 327 99 201 299 327" />
  </svg>
  <br>

  <div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>

  <br>
  <ion-card-title align="center" style="font-size: 25px;">¡Bienvenido!</ion-card-title>
  <ion-card-subtitle style="margin: 5%; color: black; text-align: justify;font-size: 16px;">En esta sección encontrarás diferentes recursos
    que te ayudarán a desarrollar nuevas habilidades.
  </ion-card-subtitle>
  </div>
  <br>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-button class="footer-dis-bot2" (click)="leccionRedirect()">
        Continuar
        <ion-icon name="caret-forward-outline"></ion-icon>
     </ion-button>
    </ion-col>
  </ion-row>
</ion-content>