*{
    font-family: 'Proxima Nova' !important;
  }
.divBack{
    background-color:#ffffff;
}

.icon-photo{
    border-radius:50% !important;
    margin-top: 10px;
    height: 1.7em !important;
    width: 1.7em !important;
}

    
.usernamecss{
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 9px;
    line-height: 44px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 2px;
    text-align: left;
}

.mensajecss{
    font-size: 7px;
    line-height: 12px;
    margin: 0;
    padding: 7px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: justify;
    color: #000000;
}

.time{
    color: #070707;
    float: right;
    font-size: small;
}

.icon-photo-css{
    border-radius:10% !important;
    margin-top: 10px;
    height: 1em !important;
    width: 1em !important;
}

.post-content{
    border-bottom: 1px solid rgba(160, 160, 160, 0.453);
    padding-bottom: 10px;
}

.user-comments{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.453);
}

.title-css{
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 1px;
    font-weight: bold;
}

.Subtitle-css{
    border-top: 1px solid rgba(160, 160, 160, 0.453);
    font-size: 11px;
    line-height: 12px;
    margin: 0;
    padding: 7px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: justify;
}

.userN-css{
    font-size: 5px;
    line-height: 12px;
    margin: 0;
    margin-right: 50%;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.titulo-user{
    color: #000000;
    float: left;
    font-size: small;
}

.tiempo{
    color: #c7c7c7;
    float: right;
    font-size: small;
}

.coment{
    color: #555555;
    text-align: justify;
    font-size: small;
}

.msg-input{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
    color: #000000;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}