*{
    font-family: 'Proxima Nova' !important;
  }
.ion-item-css{
    background-color: #f6f6f685;
    border: none;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    margin: 5px;
    width: 85%;
    border: 2px solid  #ffffff79;
    transition: all 0.3s ease-in-out;
    height: 55px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;
    --background: rgba(255, 255, 255, 0.562) !important;
    }

    .Subtitle-cs-desc{
        font-size: 7px;
        line-height: 12px;
        margin: 0;
        padding: 7px 7px 7px 7px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        color: rgb(8, 8, 8);
        text-align: justify;
    }

    .title-css {
        color: rgb(8, 8, 8);
        margin: 0;
        padding: 0px 0px 6px 0px;
        font-size: 11px;
        line-height: 44px;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
    }