<ion-content padding>
  <ion-grid style="text-align: justify;">

    <p>Acepto y autorizo el acceder a la aplicación <strong>MAGIN APP powered by VENKI</strong> por menores de edad, y conozco que es imprescindible contar con la supervisión 
      y aval de un adulto que ejerza las funciones de representación del menor, en todo momento del proceso, 
      léase desde el inicio de la descarga, por el tiempo de ejecución y uso de la aplicación.
    </p>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="ClosePopover()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
