*{
  font-family: 'Proxima Nova' !important;
}
.close-fake {
  --background: transparent;
  ion-icon {
    font-size: 2rem;
  }
  margin-top: 40px;
}

ion-content {
  --background: rgba(44, 39, 45, 0.863);
}

ion-slides {
  height: 80%;
}

.buttonCss {
  -webkit-box-shadow: 0 10px 30px 0 rgba(130, 192, 223, 0.288);
  box-shadow: 0 10px 30px 0 rgba(95, 187, 233, 0.151);
  //text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  margin: 0px;
  margin-top: 10px;
  margin-left: 5%;
  text-align: center;
  border: rgba(20, 110, 155, 0.267);
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  width: 85%;
  height: 35px;
  color: #ffffff;
  --background: #002a68 !important;
}

p {
  margin: 10px 25px;
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
}

h2{
  padding-top: 5%;
  text-align: center;
  font-weight: bold;
  color:  #002a68 !important;
}

.button-css{
    -webkit-box-shadow : 0  10px  30px  0 rgba(95, 187, 233, 0.24);
    box-shadow : 0  10px  30px  0 rgba(95, 187, 233, 0.233);
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 2%;
    border-radius: 20px;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
    width: 85%;
    height: 35px;
    --background: rgba(0, 48, 97, 0.856) !important;
  }

.ocultar {
  display: none;
}

.itemback {
  background: url(/assets/slidesImg/img1.jpg) 0 0/100% 100% no-repeat ;
  border: none;
  color: #000000;
  text-decoration: none;
  border: 2px solid #ffffff79;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  --background: rgba(255, 255, 255, 0.438) !important;
  width: 93%;
  height: 70%;
}
