<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="font-size: 30px;color: white;" (click)="volver()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div class="oval" [ngStyle]="{'background': colors[idAction-1]}" ></div>
  <div class="back">
    <br>
    <div *ngIf="idAction == 1">
      <div align="center"  class="title">
        PREGUNTAR
      </div>
    </div>
    <div *ngIf="idAction == 2">
      <div align="center" class="title">
        COMPARTIR
      </div>
    </div>
    <div *ngIf="idAction == 3">
      <div align="center"  class="title">
        RETAR
      </div>
    </div>
    <br>
    <br>
    <ion-row>
      <div align="center">
        
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="col-img">
        <img src="/assets/social/im{{idAction}}.png">
      </ion-col>
      <ion-col size="9">
        <textarea class="textArea" fill=clear [(ngModel)]="textareainput" [placeholder]="vistaHolder(idAction)" rows="4" cols="150" maxlength="150"></textarea>
        <ion-button [ngStyle]="{'color': colors[idAction-1]}" fill=clear (click)="selccionImg()" style="margin: 0">
          <ion-icon name="cloud-upload" style="margin-right: 5px;"></ion-icon>
          Cargar Imagen
        </ion-button>
        <ion-button [ngStyle]="{'color': colors[idAction-1]}"  fill=clear (click)="Publicar()" [disabled]="!textareainput" style="margin: 0">
          <ion-icon name="send" style="margin-right: 5px;"></ion-icon>
          Compartir
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 0px;">
        <div *ngIf="photos" style="padding: 0px 30px 0px 60px;">
          <ion-row *ngFor="let imag of photos" style="place-content: flex-end;margin-bottom: 10px;">
            <ion-icon name="close-outline" class="remove-image" (click)="removeImagen(imag)"></ion-icon>
            <img class="img-content" [src]="imag">
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>