*{
  font-family: 'Proxima Nova' !important;
}

.badge-title {
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  font-weight: 500;
  background-color: #002a68;
}

.btn-submit {
  margin-top: 15px;
  --background: #002a68;
}