<ion-content padding>
  <ion-grid style="text-align: justify;">
    <p>Bienvenido a MAGIN. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web.
    </p>
    <p><strong>Derechos de Propiedad</strong> Entre usted y Venki, Venki SAS es dueño único y exclusivo, de todos los
      derechos, título e intereses en y del Sitio Web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías, ilustraciones, gráficos, otros medios visuales, videos,
      copias, textos, software, títulos, etc) códigos, datos y materiales del mismo, el aspecto y el ambiente, el diseño y la organización del Sitio Web y la
      compilación de los contenidos, códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquiera derechos de autor, derechos de marca,
      derechos de patente, derechos de base de
      datos, derechos morales, derechos sui generis y otras propiedades intelectuales y derechos patrimoniales del
      mismo. Su uso del Sitio Web no le otorga propiedad
      de ninguno de los contenidos, códigos, datos o materiales a los que pueda acceder en o a través del Sitio Web.
    </p>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="ClosePopover()">Ok</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>