
<ion-content class="ion-content-login" align="center">
  <br>
  <br>
  <br>
  <div>
    <ion-button expand="block" class="loginBtn2" (click)="volverLogin()" expand="block">
      Ya tengo una cuenta</ion-button>
  </div>
  <hr class="solid">
  <button class="loginBtn loginBtn--facebook" (click)="loginWhitFacebook()">
    Regístrate con Facebook
  </button>
  
  <button class="loginBtn loginBtn--google" (click)="loginGoogle()">
    Regístrate con Google
  </button>
  <hr class="solid-visible">
  <ion-card-title class="title-css">Ó</ion-card-title>
  <ion-card-title class="title-css">Regístrate</ion-card-title>

  <div>
    <form [formGroup]="regisform">
      <ion-item class="ion-item-css">
        <ion-input name="nombre" type="text" placeholder="Nombre" formControlName="name">
        </ion-input>
      </ion-item>
      <ion-item class='form-text-error'
        *ngIf="!regisform.controls.name.valid && (regisform.controls.name.touched || regisform.controls.name.dirty)">
        <ion-label class="l-error">El nombre no es valido</ion-label>
      </ion-item>
      <ion-item class="ion-item-css">
        <ion-input name="apellido" type="text" placeholder="Apellido" formControlName="lastname">
        </ion-input>
      </ion-item>
      <ion-item class='form-text-error'
        *ngIf="!regisform.controls.lastname.valid && (regisform.controls.lastname.touched || regisform.controls.lastname.dirty)">
        <ion-label class="l-error">El apellido no es valido</ion-label>
      </ion-item>
      <div>
        <international-phone-number class="phone form-control form-control-sm" formControlName="phone" placeholder="Teléfono" [defaultCountry]="'co'" [required]="true" [allowDropdown]="true"></international-phone-number>
      </div>
      <ion-item class='form-text-error'
        *ngIf="!regisform.controls.phone.valid && (regisform.controls.phone.touched || regisform.controls.phone.dirty)">
        <ion-label class="l-error">El teléfono no es valido</ion-label>
      </ion-item>
      <ion-item class="ion-item-css">
        <ion-input name="email" type="email" placeholder="Correo electrónico" formControlName="email">
        </ion-input>
      </ion-item>
      <ion-item class='form-text-error'
        *ngIf="!regisform.controls.email.valid && (regisform.controls.email.touched || regisform.controls.email.dirty)">
        <ion-label class="l-error">El correo no es valido</ion-label>
      </ion-item>
      <ion-item class="ion-item-css">
        <ion-datetime #myPicker placeholder="Fecha de Nacimiento" text-center (ionChange)="cambioFecha(myPicker.value)" displayFormat="YYYY/MM/DD" min="1980" max="{{ year }}"
          formControlName="birthday" cancelText="Cancelar" doneText="Hecho" style="width: 100%;"></ion-datetime>
      </ion-item>
      <ion-item class="ion-item-css">
        <ion-input name="contrasena" [type]="showpassword ? 'text' : 'password'" placeholder="Contraseña"
          formControlName="password">
        </ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="showpass()"></ion-icon>
      </ion-item>
      <ion-item class='form-text-error'
        *ngIf="!regisform.controls.password.valid && (regisform.controls.password.touched || regisform.controls.password.dirty)">
        <ion-label class="l-error">La contraseña debe tener: <br>1 numero <br> 1 letra mayúscula <br> 1 letra minúscula <br> y 8 o más caracteres</ion-label>
      </ion-item>
      <ion-item class="ion-item-css">
        <ion-input placeholder="Confirmar Contraseña" [type]="showpasswordConfirm ? 'text' : 'password'"
          formControlName="password_confirmation" show-password></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIconConfirm" (click)="showpassConfirm()"></ion-icon>
      </ion-item>
      <ion-item class='form-text-error'
        *ngIf="regisform.controls.password_confirmation.touched && regisform.hasError('mismatchedPasswords') && regisform.controls.password.valid">
        <ion-label no-margin stacked class="l-error">Las contraseñas no coinciden</ion-label>
      </ion-item>
    </form>
    <div *ngIf="edad<18">
    <ion-item  class="ion-item-css" *ngFor="let check of ischeckNino">
      <ion-checkbox color="dark" class="cb_color" checked slot="start" style="margin: 0px;" disabled></ion-checkbox>
      <ion-button fill="clear" (click)="terminosMostrarNinos()">
        <ion-label style="color: black;border-bottom: 1px solid #025975;white-space: break-spaces;">Leer términos y condiciones para menores de edad</ion-label>
      </ion-button>
    </ion-item>
    </div>
    <ion-item class="ion-item-css" *ngFor="let check of ischeck" (click)="checkval(check)">
      <ion-checkbox color="dark" class="cb_color" checked slot="start" [(ngModel)]="check.selected" style="margin: 0px;"></ion-checkbox>
      <ion-button fill="clear" (click)="terminosMostrar()" style="margin-top: 10px;">
        <ion-label style="color: black;border-bottom: 1px solid #025975;">Aceptar términos y condiciones</ion-label>
      </ion-button>
    </ion-item>
    <div>
      <ion-button class="button-css" type="submit" (click)="Registrarce()" [disabled]="!regisform.valid || !ischeck[0].selected" expand="block">
        Únete a nosotros</ion-button>
    </div>
  </div>
  <hr class="solid">
  <hr class="solid">
</ion-content>