
<div id="custom-overlay" [style.display]="splash ? 'flex' : 'none'">
  <div  class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <div class="container"></div>
      <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header #header>
  <ion-toolbar #toolbar class="ion-toolbar-ccs">
    <div>
      <ion-toolbar>
        <ion-row class="logo">
          <ion-col size="4">
            <div class="icon-header">
              <img src="/assets/finallogo.png" width="120" height="70">
            </div>
          </ion-col>
          <ion-col size="8" style="align-self: flex-end">
            <div class="info-header">
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;margin-right: 5px;">{{ message_header }}</ion-label>
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;text-transform: capitalize;">{{ usertk.name}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [appHideHeader]="header" [scrollEvents]="true" id="ion-content-opcional">

  <div style="display: flex;place-items: center;justify-content: flex-end;margin-top: 10px;" (click)="showMessageCoins();">
    <img src="../../../assets/home/money.png" style="width: 8%;" >
    <ion-label style="margin: 0px 30px 0px 10px;;font-weight: bold;font-size: 15px;">X {{ magins }}</ion-label>
  </div>

  <div align="center" class="card" style="padding: 5px 50px;margin: 10px 25px;border: 1px solid #e8e8e8;border-radius: 8px;">
    <div class="div-activity">
      <ion-label *ngIf="actividadDiaria" style="font-size: 16px;color: #002a68;font-weight: bold;text-align: center;"> {{actividadDiaria}}</ion-label>
    </div>
  </div>

  <ion-grid style="text-align-last: left;padding: 10px;">
    <ion-label style="font-size: 16px;font-weight: bold;">¿Cuál es tu estado emocional actual?</ion-label>
    <ion-row style="margin-top: 15px;">
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Alegre' }" (click)="savefeeling('Alegre')">
        <img class="wid-55" src="/assets/emotions/happy.png"/>
        <ion-badge color="warning" class="badge-emotions" >Alegría</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Inspirado' }" (click)="savefeeling('Inspirado')">
        <img class="wid-55" src="/assets/emotions/inspired.png"/>
        <ion-badge color="warning" class="badge-emotions" >Inpiración</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Motivado' }" (click)="savefeeling('Motivado')">
        <img class="wid-55" src="/assets/emotions/motivated.png"/>
        <ion-badge color="warning" class="badge-emotions" >Motivación</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Orgulloso' }" (click)="savefeeling('Orgulloso')">
        <img class="wid-55" src="/assets/emotions/proud.png"/>
        <ion-badge color="warning" class="badge-emotions" >Orgullo</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Cansado' }" (click)="savefeeling('Cansado')">
        <img class="wid-55" src="/assets/emotions/tired.png"/>
        <ion-badge color="warning" class="badge-emotions" >Cansancio</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Aburrido' }" (click)="savefeeling('Aburrido')">
        <img class="wid-55" src="/assets/emotions/bored.png"/>
        <ion-badge color="warning" class="badge-emotions" >Aburrimiento</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Triste' }" (click)="savefeeling('Triste')">
        <img class="wid-55" src="/assets/emotions/sad.png"/>
        <ion-badge color="warning" class="badge-emotions" >Tristeza</ion-badge>
      </ion-col>
      <ion-col size="3" class="col-emotions" [ngClass]="{'col-active': emotion === 'Enojado' }" (click)="savefeeling('Enojado')">
        <img class="wid-55" src="/assets/emotions/angry.png"/>
        <ion-badge color="warning" class="badge-emotions" >Enojo</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid style="text-align-last: left;padding: 10px;">
    <ion-label style="font-size: 16px;font-weight: bold;">¿Qué quieres hacer hoy?</ion-label>
    <ion-row *ngIf="usertk" style="margin-top: 15px;">
        <ion-col size="12" style="text-align: -webkit-center;">
          <div class="actions card-community" (click)="opinarSobreActividad(actividadDiaria)" >
            Ir a la comunidad
          </div>
        </ion-col>

        <ion-col size="12" style="text-align: -webkit-center;">
          <div class="actions card-train" (click)="goTraing()">
            Iniciar entrenamiento
          </div>
        </ion-col>

        <ion-col size="12" style="text-align: -webkit-center;">
          <div class="actions card-diagnosis" *ngIf="usertk.surveyed === 0" (click)="diagnosticoRedirect(usertk.profile.id,  usertk.id)">
            Hacer diagnóstico
          </div>
          <div class="actions card-diagnosis" *ngIf="usertk.surveyed === 1 && usertk.premium===0" (click)="recomedacionesRedirect(usertk.id)">
            Adquiere aquí tu plan de entrenamiento
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>

  <hr style="background-color: #d8d8d8;margin: 0px;">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/help">
      <ion-icon name="help-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-card *ngIf="imageHome">
    <img [src]="imageHome" (click)="imageView(imageHome)" />
    <ion-card-content>
      <ion-label *ngIf="usertk">
        <h3 style="text-align: center; color: #000; font-weight: bold;">{{ imageDescription }}</h3>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <hr style="background-color: #d8d8d8;margin: 0px;">

  <ion-badge class="badge-lesson" *ngIf="!leccionActiva" color="warning" >No tienes lecciones activas</ion-badge>

  <ion-badge class="badge-lesson" *ngIf="leccionActiva" color="warning" (click)="retomarleccion()" ><strong>RETOMAR LECCIÓN: </strong><br>{{leccionActiva.name}}</ion-badge>

</ion-content>
