*{
  font-family: 'Proxima Nova' !important;
}
.button-css-options {
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 5px;
  width: 60%;
  --background: #002a68 !important;
}

.textArea{
  width: 100%;
  display: block;
  resize: none;
  border-radius: 5px;
  padding: 5px 10px;
  border-color: #c7c7c7;
}


.title-css {
  color: #080808;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}

.Subtitle-css {
  font-size: 7px;
  line-height: 12px;
  margin: 0;
  padding: 7px 7px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(8, 8, 8);
}

.ion-item-css {
  font-size: 12px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.expansionCsss {
  background-color: rgba(248, 249, 250, 0.527);
}

.larger{
    text-align:center;
    display: inline-block;
    font-size: 20px;
    color: #002a68 !important;
}

.title {
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.icon-add {
  color: white;
  margin: 5px 15px 0px 0px;
}

.container-targets {
  text-align: center;
  margin-top: 15px;
}

.label-instructions {
  background-color: #ffffff;
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
  color: #002a68;
  text-transform: uppercase;
}

.icon-target {
  color: white;
  background-color: #002a68;
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
}

.label-target {
  white-space: normal;
  font-size: 14px;
  font-weight: 500;
  width: 70%;
}

.button-end {
  --background: #002a68;
  margin-bottom: 15px;
}

.badge-date {
  font-size: 12px;
  padding: 4px 5px;
  font-weight: 500;
  place-self: center;
}

.subtitle {
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
}

.badge-instructions {
  background-color: #ffffff;
  padding: 5px;
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
  color: #002a68;
  text-transform: uppercase;
}

.card-add {
  margin: 10px 20px;
  border-radius: 10px;
  border-left: 4px solid #002a68;
}

.item-date {
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 10px;
}

.badge-new {
  margin-top: 10px;
  background-color: #002a68;
  padding: 8px 10px;
  font-size: 15px;
}

.badge-cancelar {
  margin-top: 10px;
  background-color: #f44336;
  padding: 8px 10px;
  font-size: 15px;
}