<ion-header #header>
  <ion-toolbar #toolbar class="ion-toolbar-ccs">
    <div>
      <ion-toolbar>
        <ion-row class="logo">
          <ion-col size="4">
            <div class="icon-header">
              <img src="/assets/finallogo.png" width="120" height="70">
            </div>
          </ion-col>
          <ion-col size="8" style="align-self: flex-end">
            <div class="info-header">
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;margin-right: 5px;">{{ message_header }}</ion-label>
              <ion-label *ngIf="usertk" style="font-size: 14px;color: #fff;text-transform: capitalize;">{{usertk.name}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid *ngFor="let curso of cursos; ; index as i;">
    <ion-row >
      <article class="card">
        <header class="card__thumb">
         <img src="{{basePath}}{{curso.photo}}">

        </header>
        <div class="card__index" [ngStyle]="{'background': colores[curso.id-1]}">
          <span class="card__date__index">{{curso.id}}</span>
        </div>
        <div class="card__body">
          <div class="card__category" [ngStyle]="{'background': colores[curso.id-1]}"><label>Categoría</label></div>
          <div class="card__title"><ion-label  (click)="verCurso(curso, curso.description, colores[curso.id-1])"><u>{{ curso.name.split(':')[0]}}</u></ion-label></div>
          <p class="card__description">{{curso.name.split(':')[1] | title }}</p>
        </div>
      </article>
    </ion-row>

  </ion-grid>


</ion-content>
