<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="font-size: 30px;color: white;" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title style="text-align: center;margin-top: 15px;text-transform: uppercase;font-size: 20px;color: #002a68;font-weight: bold;">Mis Resultados</ion-card-title>
  <ion-card-content style="margin-top: 25px;">
    <canvas #barChart width="700" height="700"></canvas>
  </ion-card-content>

  <div style="text-align: center;margin-top: 10px;" *ngIf="califications.length === 0">
    <ion-badge color="danger" style="font-size: 16px;padding: 5px 10px;">No existen resultados</ion-badge>
  </div>
</ion-content>
