<ion-header>
  <ion-toolbar class="ion-toolbar-ccs">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="/users/entrena/vercurso"></ion-back-button>
    </ion-buttons>
    <ion-title class="tituloInfo logo">
      <label style="color: white;">MAGIN</label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="semi-circulo-2" [ngStyle]="{'background-color': color}" style="z-index: 1;"></div>
  <div *ngIf="info" class="divBack">
    <ion-card style="margin: 0;">

      <ion-card-title style="text-align-last: center;padding: 10px 25px;">
        <ion-label [ngStyle]="{'color': color}" class="title-course">{{info.name}}</ion-label>
      </ion-card-title>

      <ion-card-subtitle> {{ info.description }}</ion-card-subtitle>
      <ion-grid style="color: black; margin-top: 0%;">
        <ion-row>
          <ion-col style="text-align-last: center;">
            <ion-card class="card-description" [ngStyle]="{'border-color': color}">
              <ion-icon class="icono-card" [ngStyle]="{'color': color}" name="time-outline"></ion-icon><br>
              <p style="color: black;">{{info.duration}}&nbsp; Minutos</p>
            </ion-card>
          </ion-col>
          <ion-col style="text-align-last: center;">
            <ion-card class="card-description" [ngStyle]="{'border-color': color}">
              <ion-icon class="icono-card" [ngStyle]="{'color': color}" name="book"></ion-icon>
              <p *ngFor="let cur of cursos;" style="color: black;">{{cur.lessons.length}}&nbsp;&nbsp; Lecciones </p>
            </ion-card>  
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="video-responsive">
        <iframe #playerVim [src]="info.trailer + '?title=0&byline=0&portrait=0&sidedock=0&playsinline=0' | vimeoUrl" frameborder="0" allow="autoplay;"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </ion-card>
  </div>

  <div *ngIf="courseID  === CourseLessonID" style="padding: 0px 10px;">
    <div *ngFor="let cur of cursos; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>
      <ion-card style="margin: 10px 0px;border-radius: 10px;">
        <ion-item tappable (click)="toggleSection(i, cur.pivot.progress)" class="section">
          <ion-icon slot="start" class="icon-description" name="arrow-forward" *ngIf="!cur.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" class="icon-description" *ngIf="cur.open"></ion-icon>
          <ion-card-title class="title-content">Contenido</ion-card-title>
        </ion-item>
        <div>
          <ion-card-subtitle style="font-size: medium;margin-bottom: 15px;">
            <ion-badge color="primary" class="label-progress">Tu progreso {{progreso*100}}%</ion-badge>
            <ion-progress-bar color="primary" [ngStyle]="{'background-color': color}" value= {{progreso}}></ion-progress-bar>
          </ion-card-subtitle>
        </div>
        
        <div *ngIf="cur.lessons && cur.open">
          <ion-list lines="none">
            <ion-item *ngFor="let lections of cur.lessons;  let j = index;" >
                <button class="tema-css" expand="block" tappable (click)="toggleItem(i, j)" [ngClass]="{'lecciones-active': lections.open, 'lecciones': !lections.open, 'done': lections.status === 1, 'fail': !lections.status  }">
                  <ion-icon slot="start" name="chevron-forward-outline" *ngIf="!lections.open" class="icon-content"></ion-icon>
                  <ion-icon slot="start" name="chevron-forward-outline" *ngIf="lections.open" class="icon-content"></ion-icon> 
                  <ion-label class="color-text">
                    {{lections.name}}
                  </ion-label>
                </button>
            </ion-item>
          </ion-list>
        </div>
      </ion-card>

      <div style="text-align: center;margin-top: 20px;">
        <ion-badge color="warning" style="font-size: 17px;padding: 5px 15px;border-radius: 5px;" (click)="repetir();">Repetir Examen</ion-badge>
      </div>


    </div>
  </div>

  <div class="divBack" *ngIf="comentariosGeneral.length > 0">

    <ion-card style="margin: 10px 0px;border-radius: 10px;">
      <ion-item tappable class="section" (click)="comments = !comments">
        <ion-icon slot="start" class="icon-description" name="arrow-forward" *ngIf="!comments"></ion-icon>
        <ion-icon slot="start" name="arrow-down" class="icon-description" *ngIf="comments"></ion-icon>
        <ion-card-title class="title-content">Comentarios y Calificaciones</ion-card-title>
      </ion-item>
      <div>
        <ion-card-subtitle style="font-size: medium;">
          <ion-badge color="primary" class="label-progress">Cantidad de reseñas: {{ comentariosGeneral.length }}</ion-badge>
        </ion-card-subtitle>
      </div>
      <div style="padding: 10px;" *ngIf="comments">
        <ion-grid>
          <div *ngFor="let com of comentariosGeneral;" class="div-rating">
            <ion-row class="user-comments" *ngIf="com.active === 1">
              <ion-col size="2">
                <ion-avatar item-start>
                  <img src="assets/avatar/{{com.user.avatar}}.png" (click)="verUser(com.user)">
                </ion-avatar>
              </ion-col>
              <ion-col size="10">
                <div style="text-align: center;">
                  <ul class="list-inline rating-list" style="display: inline-block;padding: 0;margin: 0;" *ngFor="let star of stars; let i = index">
                    <li [ngClass]="{ 'selected': com.score > i }">★</li> 
                  </ul>
                </div>
                <div>
                  <p class="usernamecss"><strong style="text-transform: capitalize;">{{ com.user.name }}</strong>&nbsp;<strong style="text-transform: capitalize;">{{ com.user.lastname }}</strong></p>
                  <p class="mensajecss">{{ com.comment | capitalize }}</p>
                  <div class="date-rating ion-text-right">{{com.created_at | date:'short'}}</div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="progreso !== 0">
  
  <div style="text-align: center;padding: 10px;">
    <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block;padding: 0 10px;margin: 0;">
      <li (click)="countStar(star)"
          [ngClass]="{'selected': (star <= selectedValue)}">★
      </li> 
    </ul>
  </div>

  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="10">
        <textarea autosize maxRow="4" placeholder="Envia un mensaje" [(ngModel)]="menajeNuevo"
          class="msg-input" style="background: white;"></textarea>
      </ion-col>
      <ion-col size="2" class="send">
        <button expand="block" [disabled]="menajeNuevo === ''" class="msg-btn" (click)="enviarMensaje()">
          <ion-icon name="send-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>