.border-post {
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-radius: 12px;
}

.boder{
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0px;
}
  
.content-post {
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    color: black;
}

.avatar-user {
    width: 60px;
    height: 70px;
    margin: 5px 15px 0 0px;
}

.name-user {
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 0px;
}
  
.image-cont {
    width: 100%;
    height: 380px;
}